
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*load  */
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}

.loader svg{
    width: 100px;
    height: 100px;
}

.loader svg rect{
    width: 100px;
    height: 100px;
    fill: none;
    stroke-width: 100px;
    stroke: #00adff;
    stroke-dasharray: 100;
    stroke-dashoffset: 50%;
    animation: rotateBox 2s linear infinite;
}
@keyframes rotateBox {
    to{
        stroke-dashoffset: 250%;
    }
}

.loaded{
    opacity: 0;
    min-height: 0;
    height: 0;
    transition: all 0.7s;
}

/*platform*/
body{
    overflow: hidden;
    transition: background-image 1.5s ease-in-out;
    background-size: 1300px;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: rgb(250, 250, 250);

}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
}
.content{
    visibility: hidden;
    transition: visibility 3s;
    transition-delay: 0.3s;
}

/* header */
header{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    position: relative;
    max-width: 40px;
    margin-bottom: 150px;
}

/* grassMorphism */
header .grass {
    width: 300px;
    height: 188px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 4px 10px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );  
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* pointSyetem */
#counter-container {
    margin-top: 10px;
    text-align: center;
}

#city-size{
    font-size: 1.6em;
    font-family: 'Train One', sans-serif;
    padding-bottom: 3px;
}

#counter {
    display: inline;
    font-size: 1.7em;
    margin-bottom: 40px;
    margin-right: 7px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

#pt{
    font-size: 0.5em;
    font-family: 'Roboto', sans-serif;
}


/* progressBar */
#progress-status {
    font-size: 12px;
    margin-left: 150px;
    margin-top: 10px;
}

#progressbar {
    width: 88%; 
    background-color: #f3f3f3;
    border-radius: 15px; /* Round corners of the progress bar */
    margin-left: 15px;
    margin-top: 5px;
}

.progress {
    width: 0;
    height: 30px;
    background-color: #4caf50;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 0.2s ease;
    border-radius: 15px; /* Round corners of the progress */
    font-size: 17px;
}

/* navigation(home button etc.) */
.navigation{
    position: absolute;
    bottom: 70px;
    display: flex;
    gap: 30px;
}

.navigation li{
    position: relative;
    list-style: none;
}

.navigation li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 10px 25px rgba(0,0, 0, 0.1);
    border-radius: 50%;
    font-size: 1.5em;
    text-decoration: none;
}

.navigation li.active a,
.navigation li.active a:hover
 {
    background-color: #f00;
    color: #fff;
}

.navigation li a:hover{
    color: #f00;
}

/* scroll */
.imgScroll{
    position: absolute;
    left: 0;
    bottom: 120px;
    padding: 60px 0;
    width: 100%;
    display: flex;
    overflow-x: hidden;
}

.imgScroll div{
    display: flex;
    animation: animate 40s linear infinite;
    animation-delay: -40s;
}

.imgScroll div:nth-child(2){
    animation: animate2 40s linear infinite;
    animation-delay: -20s;
}

.imgScroll:hover div,
.imgScroll:hover div:nth-child(2){
    animation-play-state: paused;
}

@keyframes animate {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-200%);
    }
}

.imgScroll div img{
    margin: 0 25px;
    max-width: 320px;
    border: 10px solid transparent;
    transition: 0.25s;
}

.imgScroll div img:hover{
    border: 7px solid #fff;
    box-shadow: 0 20px 40px rgba(0,0, 0, 0.2);
}

.imgScroll:hover div img{
    opacity: 0.1;
    filter: blur(5px);
}

.imgScroll div img:hover{
    opacity: 1;
    filter: blur(0px);
}
