*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
}

.tabs input{
    visibility: hidden;
    display: none;
}

.buttons{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 100000;
}

.buttons label{
    width: 20px;
    height: 20px;
    background: #fff;
    opacity: 0.5;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.tabs input:nth-child(1):checked ~ .buttons label:nth-child(1),
.tabs input:nth-child(2):checked ~ .buttons label:nth-child(2),
.tabs input:nth-child(3):checked ~ .buttons label:nth-child(3),
.tabs input:nth-child(4):checked ~ .buttons label:nth-child(4),
.tabs input:nth-child(5):checked ~ .buttons label:nth-child(5){
    opacity: 1;
    width: 50px;
}

.content{
    position: relative;
    width: 500vw;
    display: flex;
    transition: 0.5s;
}

.content .box{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 40px;
}

.content .box:nth-child(1){
    background: linear-gradient(90deg, rgb(230, 79, 56), rgba(255, 164, 59, 1));
}
.content .box:nth-child(2){
    background: linear-gradient(90deg, rgba(255, 164, 59, 1), rgb(226, 229, 49));
}
.content .box:nth-child(3){
    background: linear-gradient(90deg, rgb(226, 229, 49), rgb(51, 203, 46));
}
.content .box:nth-child(4){
    background: linear-gradient(90deg, rgb(51, 203, 46), rgb(57, 190, 202));
}
.content .box:nth-child(5){
    background: linear-gradient(90deg, rgb(57, 190, 202), rgba(81, 99, 255, 1));
}


.tabs input:nth-child(1):checked ~ .content{
    left: 0;
}
.tabs input:nth-child(2):checked ~ .content{
    left: -100vw;
}
.tabs input:nth-child(3):checked ~ .content{
    left: -200vw;
}
.tabs input:nth-child(4):checked ~ .content{
    left: -300vw;
}
.tabs input:nth-child(5):checked ~ .content{
    left: -400vw;
}

.content .box .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.content .box .contentBx h2{
    font-size: 2em;
    color: #fff;
    max-width: 700px;
}
.content .box .contentBx h3{
    font-size: 2em;
    color: #fff;
    max-width: 750px;
}

.content .box .contentBx p{
    font-size: 1.2em;
    color: #fff;
    max-width: 700px;
    text-align: center;
}

.content .box .contentBx button{
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 35px;
    background: #fff;
    color: #333;
    letter-spacing: 0.05em;
    margin-top: 10px;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    transition: 0.5s;
}

.content .box .contentBx button:hover{
    letter-spacing: 0.2em;
}

span{
    position: absolute;
    pointer-events: none;
    background: #fff;
    border-radius: 10%;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%{
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        transform: scale(1) translateY(-500%) rotate(360deg);
        opacity: 0;
    }
}

.typeing {
    opacity: 0;
}
.typeing.active{
     animation:text_anime_on 1s ease-out forwards; 
}

@keyframes text_anime_on {
  0% {opacity:0;}
  100% {opacity:1;}
}

