*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #3d81de;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content img{
    width: 68vw;
    padding: 100px 50px 0px 50px;
}