*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*load  */
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}

.loader svg{
    width: 100px;
    height: 100px;
}

.loader svg rect{
    width: 100px;
    height: 100px;
    fill: none;
    stroke-width: 100px;
    stroke: #00adff;
    stroke-dasharray: 100;
    stroke-dashoffset: 50%;
    animation: rotateBox 2s linear infinite;
}
@keyframes rotateBox {
    to{
        stroke-dashoffset: 250%;
    }
}

.loaded{
    opacity: 0;
    min-height: 0;
    height: 0;
    transition: all 0.7s;
}

.content{
    visibility: hidden;
    transition: visibility 3s;
    transition-delay: 0.3s;
}

/* メイン */

body{
    width: 100vw;
    min-height: 100vh;
    background: #3F73BE;
}

.character{
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3F73BE;
    color: #fff;
}

.liquid h2{
    font-size: 7vw;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 60px;
    padding-left: 120px;
}

.liquid h2:nth-child(1){
    text-shadow: -2px 2px 0px #3F73BE,
    -4px 4px 0px #3F73BE,
    -6px 6px 0px #3F73BE,
    -8px 8px 0px #3F73BE,
    -18px 18px 20px rgba(0, 0, 0, 0.5),
    -2px 2px 50px rgba(0, 0, 0, 0.5);
}

.liquid h2:nth-child(2){
    color: #2196f3;
    opacity: 0.5;
    animation: animate 3s ease-in-out infinite;
}

.liquid h2:nth-child(3){
    color: #2196f3;
    opacity: 0.5;
    animation: animate 6s ease-in-out infinite;
}

.liquid h2:nth-child(4){
    color: #2196f3;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate{
    0%, 100%{
        clip-path: polygon(0 66%, 13% 71%, 25% 79%, 40% 84%, 57% 80%, 76% 64%, 88% 60%, 100% 66%, 100% 100%, 0% 100%);    }
    50%{
        clip-path: polygon(0 73%, 11% 60%, 23% 54%, 39% 59%, 56% 70%, 72% 76%, 87% 74%, 100% 59%, 100% 100%, 0% 100%);}
    }

    
.portfolio{
    padding: 20px 16% 90px;
    background: #3F73BE;
}

.portfolio ul{
    display: flex;
    flex-wrap: wrap;
}

.portfolio ul li{
    list-style: none;
    background: #eee;
    padding: 8px 20px;
    margin: 7px;
    letter-spacing: 1px;
    border-radius: 5%;
    cursor: pointer;
}

.portfolio ul h1{
    margin: 5px 10px;
    font-size: 25px;
    color: #eee;
}

.portfolio ul li.active{
    background: #2aa64f;
    color: #fff;
}

.Portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}

.Portfolio-content a{
    text-decoration: none;
    color: black;
}

.row img{
    height: 200px;
    width: 100%;
    border-radius: 28px;
    margin-bottom: 1.4rem;
    object-fit: cover;
}

.row{
    background:#eee;
    border-radius: 28px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3);
    padding: 20px;
    transition: all .50s ease;
    text-align: center;
}

.row ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

.row ul li{
    border-radius: 100vmax;
    background-color: #2aa64f;
    color: white;
    padding: .5rem;
    font-size: 14px;
    margin: 5px auto;
}

.main-row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.row h5{
    font-size: 20px;
    font-weight: 600;
}

.row h4{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
}

.row:hover{
    border: 3px solid #fff;
    transform: translateY(-5px) scale(1.03);
    cursor: pointer;
}